.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:432px;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%; 
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	
    display:none;
}
.nivo-caption  p{padding:0; margin:0; padding:3px 10px; color:#fff}
.nivo-caption  p a{text-decoration:none;color:#fff; font-weight:bold}
.nivo-caption  p a:hover{text-decoration:underline;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:36%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

#slider-wrapper {
	width:100%;
	height:432px;
    margin:0 auto;
}

#slideranh {
	position:relative;
	width:100%;
	height:432px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slideranh img {
	width:100% !important;
	height:432px;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slideranh a {
	border:0;
	display:block;
}

.nivo-controlNav {
	left:301px;
	position:absolute;
	bottom:8px;
	left:47%;
	top:91%;
}
.nivo-controlNav a {
	display:block;
	width:17px;
	height:17px;

	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
/**html .nivo-controlNav a {background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/bullets.png' ,sizingMethod='sSize'); z-index:0
}*/
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:63px;
	height:63px;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background: url('images/icon_next.png') no-repeat;
	right:0px;
    top:177px;
}
a.nivo-prevNav {
	left:0;
    background: url('images/icon_previous.png') no-repeat;
    top:177px;
}

.nivo-caption {
    text-shadow:none;

}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
@media (max-width:980px){
	
	#slider-wrapper,
	#slideranh,
	#slideranh img,
	.nivoSlider a.nivo-imageLink,
	.slide-bottom {
	width:100%;

	}
}